{% if total_hits > 0 %}
    <textarea cols="70" rows="5" class="disabled">{{request_url}}</textarea>
    <ul class="list-unstyled">
    {% for item in item_list %}
        <li>

            {% if item.pdfLink.0 %}
                <a href="{{item.pdfLink}}" target="_blank">{{item.header.controlInfo.artinfo.tig.atl}}</a>
            {% else %}
                {% if item.plink|contains('db=nrc') %}
                    <a href="{{item.plink|replace({'site=ehost-live': 'site=nrc'})}}" target="_blank">{{item.header.controlInfo.artinfo.tig.atl}}</a>
                {% else %}
                    <a href="{{item.plink}}" target="_blank">{{item.header.controlInfo.artinfo.tig.atl}}</a>
                {% endif %}
            {% endif %}
            {% if item.header.controlInfo.jinfo.jtl %}
                <div class="source">
                    {{item.header.controlInfo.jinfo.jtl}}
                </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% include "pagination.html" %}

    <div class="col-md-12 text-right all_results">
        <a href="{{result_url}}" target="_blank" class="btn">Ver todos os resultados ({{total_hits}})</a>
    </div>
{% else %}
    <div class="noresults text-center alert">
        <h4>Nenhum resultado encontrado</h4>
    </div>
{% endif %}
