
<header id="header">

    <div class="container">

        <div class="eight columns">

            <div id="logo">
                <a href="http://modelo.sedis.ufrn.br/site/sbe/"><img src="http://modelo.sedis.ufrn.br/site/sbe/images/logo-sbe.jpg" alt="SBE"></a>
            </div><!--/ #logo-->

        </div><!--/ .columns-->

        <div class="eight columns">

            <div class="widget widget_contacts">

                <div class="top-contact">
                    <div class="moduletable">


                        <div class="custom">
                            <div class="vcard clearfix">
                                <p>&nbsp;</p>

                                <p class="top-phone" style="display: none;">Call Us : <span>+00 123456789</span></p>
                            </div>
                            <!--/ .vcard-->
                            <div class="clear">&nbsp;</div>
                            <ul class="social-icons">
                                <li class="twitter"><a href="#">Twitter</a></li>
                                <li class="facebook"><a href="#">Facebook</a></li>
                                <li class="dribble"><a href="#">Dribble</a></li>
                                <li class="vimeo"><a href="#">Vimeo</a></li>
                                <li class="youtube"><a href="#">Youtube</a></li>
                                <li class="rss"><a href="#">Rss</a></li>
                            </ul>
                            <!--/ .social-icons -->
                            <p>&nbsp;</p></div>
                    </div>

                </div>

            </div>

        </div><!--/ .columns-->
        <div class="clear"></div>
        <div class="sixteen columns">
            <div class="menu-container clearfix">
                <div class="moduletable_menu">
                    <nav id="navigation" class="navigation">

                        <div class="menu">
                            <ul class="">
                                <li class="item-101 current-menu-item active current-menu-item"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=22&amp;Itemid=101">INÍCIO</a>
                                </li>
                                <li class="item-232"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=25&amp;Itemid=232">SOBRE
                                    O PORTAL</a></li>
                                <li class="item-233"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=32&amp;Itemid=233">BASE
                                    DE DADOS</a></li>
                                <li class="item-231"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_k2&amp;view=itemlist&amp;layout=category&amp;task=category&amp;id=11&amp;Itemid=231">EVENTOS</a>
                                </li>
                                <li class="item-241"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_k2&amp;view=itemlist&amp;layout=category&amp;task=category&amp;id=11&amp;Itemid=241">MONITORAMENTO</a>
                                </li>
                                <li class="item-148"><a href="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_contact&amp;view=contact&amp;id=1&amp;Itemid=148">CONTATO</a>
                                </li>
                            </ul>
                        </div>
                    </nav><select class="responsive-nav"><option value="" selected="">Navigate...</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=22&amp;Itemid=101"> INÍCIO</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=25&amp;Itemid=232"> SOBRE
                                    O PORTAL</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_content&amp;view=article&amp;id=32&amp;Itemid=233"> BASE
                                    DE DADOS</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_k2&amp;view=itemlist&amp;layout=category&amp;task=category&amp;id=11&amp;Itemid=231"> EVENTOS</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_k2&amp;view=itemlist&amp;layout=category&amp;task=category&amp;id=11&amp;Itemid=241"> MONITORAMENTO</option><option value="http://modelo.sedis.ufrn.br/site/sbe/index.php?option=com_contact&amp;view=contact&amp;id=1&amp;Itemid=148"> CONTATO</option></select>
                </div>


                <div class="search-wrapper">
                    <div class="moduletable">
                        <div class="search">
                            <form action="http://modelo.sedis.ufrn.br/site/sbe/index.php" method="post" class="form-inline">
                                <input name="searchword" id="mod-search-searchword" maxlength="100" class="inputbox search-query" type="text" size="100" value="Pesquisar..." onblur="if (this.value=='') this.value='Pesquisar...';" onfocus="if (this.value=='Pesquisar...') this.value='';">
                                <button class="submit-search" type="submit">Search</button>
                                <input type="hidden" name="task" value="search">
                                <input type="hidden" name="option" value="com_search">
                                <input type="hidden" name="Itemid" value="101">
                            </form>
                        </div>
                    </div>

                </div>


            </div><!--/ .menu-container-->

        </div><!--/ .columns-->

    </div><!--/ .container-->

</header>
