{% extends "base.html" %}

{% block styles_extra %}
<link href="static/css/custom.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript_extra %}
<script type='text/javascript'>
(function($) {
    var data = {};
    var load_page_count=0
    var searchid=0;

    $(document).ready(function (){
        load_bento_boxes();
    });

    function load_bento_boxes(){
        function fetch(vals) {
            search_url = vals[0];
            if ( !search_url.match(/\?/) ){
                search_url += '?';
            }
            search_url += '&q=' + $('#q').val();
            console.log(search_url);

            $.ajax({
                type: "GET",
                url: search_url,
                data: data
             }).done(function(resp) {
                    $(vals[1]).html(resp);
            });
        };

        var blocks = [
            ["search_bvs/", '#bvs-response'],
            ["search_ebsco/?db=dme", '#dme-response'],
            ["search_accessmedicine/", '#accessmedicine-response'],
            ["search_ebsco/?db=nrc", '#nrc-response'],
            ["search_micromedex/", '#micromedex-response'],
        ];
        for (var i=0; i < blocks.length; i++) {
            fetch(blocks[i]);
        }
      }
    })(jQuery);
</script>
{% endblock javascript_extra %}

{% block content %}
<h3>Portal Saúde Baseada em Evidências</h3>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="" method='GET'>
            <div class="input-group stylish-input-group">
                <input id='q' type="text" class="form-control"  placeholder="Entre uma ou mais palavras..." value="{{ q }}" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

{% if q %}
<div class="row">
    <ul class="ds-btn">
        <li>
            <a class="btn btn-lg btn-primary" href="#">
                <span>Artigos Científicos</span>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-success " href="#evidences">
                <span>Evidências Clínicas</span>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-danger" href="#">
                <span>Livros & Mídia</span>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-warning" href="#">
                <span>Revistas</span>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-info" href="#">
                <span>Guías de prática</span>
            </a>
        </li>
    </ul>
</div>

<div id='results' class='row-fluid'>
    <div id='articles-databases' class='col-md-4'>
        <div class="box">
            <h4>Artigos Científicos</h4>
            <div id='bvs-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>
    <div id='books-media' class='col-md-4'>
        <div class="box">
            <h4>Livros &amp; Mídia</h4>
            <div id='accessmedicine-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box">
            <a name="evidences"></a>
            <h4>Evidências Clínicas</h4>
            <div id='dme-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box">
            <h4 class='separate-top'>Journals</h4>
            <div id='micromedex-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>
    <div id='website-other' class='col-md-4'>
        <div class="box">
            <h4>Guías de prática</h4>
            <div id='nrc-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box">
            <h4>Research Guides</h4>
            <div id='guides-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
