{% extends "base.html" %}

{% block styles_extra %}
<link href="static/css/custom.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript_extra %}
<script type='text/javascript'>
(function($) {
    var data = {};
    var load_page_count=0
    var searchid=0;

    $(document).ready(function (){
        {% if q %}
            load_bento_boxes();
        {% endif %}
    });

    function fetch(url, box) {
        search_url = url;
        if ( !search_url.match(/\?/) ){
            search_url += '?';
        }
        search_url += '&q=' + $('#q').val() + "&box=" + box;
        console.log(search_url);

        $.ajax({
            type: "GET",
            url: search_url,
            data: data
         }).done(function(resp) {
                $('#' + box).html(resp);
        });
    };

    function load_bento_boxes(){
        var blocks = [
            ["search_bvs/", 'bvs-response'],
            ["search_ebsco/?db=dme", 'dme-response'],
            ["search_accessmedicine/", 'accessmedicine-response'],
            ["search_ebsco/?db=nrc", 'nrc-response'],
            ["search_micromedex/", 'micromedex-response'],
            ["search_rebrats/", 'rebrats-response'],
            ["search_epistemonikos/", 'epistemonikos-response'],
            ["search_bulario/", 'bulario-response'],
            ["search_proqualis/", 'proqualis-response'],
        ];
        for (var i=0; i < blocks.length; i++) {
            fetch(blocks[i][0], blocks[i][1]);
        }
    }
    })(jQuery);

    function go_page(url, page, box){
        search_url = url + "&page=" + page + "&box=" + box;
        console.log(search_url);

        $('#' + box).html('<div class="throbber-loader">Loading...</div>');

        $.ajax({
            type: "GET",
            url: search_url
         }).done(function(resp) {
            $('#' + box).html(resp);
        });
    }

    function apply_filter(url, filter, value, box, remove){
        if (remove == true){
            url_parts = url.split(/&/);
            url_params = url_parts.slice(1);
            search_url = url_parts[0];

            for (var i=0; i < url_params.length; i++){
                param = url_params[i];
                remove_filter = 'filter[]=' + filter + ':';
                if ( !param.startsWith(remove_filter) ){
                    search_url += '&' + param;
                }
            }
        } else {
            search_url = url + "&filter[]=" + filter + ":" + value;
        }
        search_url += "&box=" + box;

        console.log(search_url);

        $('#' + box).html('<div class="throbber-loader">Loading...</div>');

        $.ajax({
            type: "GET",
            url: search_url
         }).done(function(resp) {
            $('#' + box).html(resp);
        });
    }
</script>
{% endblock javascript_extra %}

{% block content %}

    {% include 'layout_' ~ layout ~ '.html' %}

{% endblock content %}
