<h3>Portal Saúde Baseada em Evidências</h3>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="" method='GET'>
            <div class="input-group stylish-input-group">
                <input id="q" name="q" type="text" class="form-control"  placeholder="Entre uma ou mais palavras..." value="{{ q }}" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

{% if q %}
<div id='results' class='row-fluid'>
    <div id='articles-databases' class='col-md-4'>
        <div class="box">
            <h4>Artigos Científicos</h4>
            <span class="label label-primary">Biblioteca Virtual em Saúde</span>
            <div id='bvs-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>

    <div id='evidences-databases' class='col-md-4'>
        <div class="box">
            <h4>Evidências Clínicas</h4>
            <span class="label label-success">Nursing Reference Center</span>
            <div id='nrc-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box">
            <a name="evidences"></a>
            <h4>Evidências Clínicas</h4>
            <span class="label label-success">DynaMed</span>
            <div id='dme-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>

    <div id='multimedia-databases' class='col-md-4'>
        <div class="box">
            <h4>Ferramentas Multimídia</h4>
            <span class="label label-danger">Access Medicine</span>
            <div id='accessmedicine-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box">
            <h4 class='separate-top'>Ferramentas Multimídia</h4>
            <span class="label label-danger">Micromedex</span>
            <div id='micromedex-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
