{% include 'header.html' %}

<div class="row">
    <form action="" method="GET">
        <input type="hidden" name="access_token" value="{{access_token}}" />
        <div class="col-sm-offset-3 col-lg-6">
           <div class="input-group">
             <input type="text" id="q" name="q" class="form-control" placeholder="Pesquise usando termos em inglês para um resultado mais completo" value="{{ q }}">
             <span class="input-group-btn">
               <input type="submit" class="btn btn-default" type="button" value="Pesquisar">
             </span>
           </div><!-- /input-group -->
         </div><!-- /.col-lg-6 -->
    </form>
</div>

{% if q %}

<div id='summary' class='row'>

    <div class="col-md-12 text-center">
        <a href="#evidences" class="btn btn-info">Evidências Clínicas</a>
        <a href="#articles" class="btn btn-warning">Artigos Científicos</a>
        <a href="#multimedia" class="btn btn-success">Ferramentas</a>
    </div>

</div>

<div id="results">
    <div id='evidences-databases' class='row'>
        <a name="evidences"></a>
        <div class="notice notice-info">
            <strong>Evidências Clínicas</strong>
        </div>

        <div class="box col-md-5">
            <h4>DynaMed</h4>
            <div id='dme-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box col-md-5">
            <h4>Nursing Reference Center</h4>
            <div id='nrc-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

        <div class="box col-md-5">
            <h4>Epistemonikos</h4>
            <div id='epistemonikos-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

    </div>


    <div id='articles-databases' class='row'>
        <a name="articles"></a>
        <div class="notice notice-warning">
            <strong>Artigos Científicos</strong>
        </div>

        <div class="box">
            <h4>Biblioteca Virtual em Saúde</h4>
            <div id='bvs-response' class='row'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

        <div class="box col-md-5">
            <h4>REBRATS</h4>
            <div id='rebrats-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

    </div>

    <div id='multimedia-databases' class='row'>
        <a name="multimedia"></a>
        <div class="notice notice-success">
            <strong>Ferramentas</strong>
        </div>

        <div class="box col-md-5">
            <h4>Access Medicine</h4>
            <div id='accessmedicine-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>
        <div class="box col-md-5">
            <h4 class='separate-top'>Micromedex</h4>
            <div id='micromedex-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

        <div class="box col-md-5">
            <h4>Bulário Eletrônico</h4>
            <div id='bulario-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

        <div class="box col-md-5">
            <h4>Proqualis</h4>
            <div id='proqualis-response' class='row-fluid'>
                <div class="throbber-loader">
                  Loading…
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
